* {
  margin: 0;
  padding: 0;
}

body {
  
}

.wrapper {
  max-width: 960px;
  margin: 50px auto;
}

.wrapper button,
.wrapper div {
  user-select: none;
}

.wrapper code {
  user-select: initial;
}

button {
  margin: 10px;
}

h1 {
  margin-bottom: 20px;
}

@media all and (max-width: 768px) {
  .wrapper {
    width: 650px;
  }
}

@media all and (max-width: 480px) {
  .wrapper {
    width: 400px;
    flex-direction: column;
  }
}


@media all and (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    width: 900px;
    flex-direction: column;
  }
}

i {
  font-family: monospace, consolas, sans-serif;
  font-size: 12px;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 400px;
  margin: 30px auto;
}

h1, code {
  font-family: monospace, consolas, san-serif;
}

code {
  background: #ccc;
  border-radius: 2px;
  display: inline-block;
  min-width: 100px;
  text-align: center;
  padding: 5px;
}

table {
  background: #FFF;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: none;
  border-radius: .28571429rem;
  text-align: left;
  color: rgba(0,0,0,.87);
  border-collapse: separate;
  border-spacing: 0;
  font-size: 1em;
  width: 100%;
  margin: 0 auto;
}

th {
  cursor: auto;
  background: #F9FAFB;
  text-align: inherit;
  color: rgba(0,0,0,.87);
  padding: 10px;
  vertical-align: inherit;
  font-weight: 500;
  text-transform: none;
  border-bottom: 1px solid rgba(34,36,38,.1);
  border-left: none;
}

td {
  padding: 10px;
  text-align: center;
}

thead {
  text-align: center;
}